/* =====================================
   PRINSO MART
   GLOBAL STYLE
====================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#f8f8f8;

color:#222;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

img{

max-width:100%;

display:block;

}

.container{

padding:15px;

}

.section-title{

font-size:22px;

font-weight:700;

margin:20px 0 15px;

color:#222;

}

/* Header */

header{

background:#16a34a;

padding:15px;

color:#fff;

position:sticky;

top:0;

z-index:999;

box-shadow:0 3px 15px rgba(0,0,0,.15);

}

.top-header{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:28px;

font-weight:800;

}

.search-box{

margin-top:15px;

}

.search-box input{

width:100%;

padding:14px;

border:none;

outline:none;

border-radius:12px;

font-size:16px;

}

/* Banner */

.banner{

padding:15px;

}

.banner img{

width:100%;

border-radius:16px;

}

/* Category */

.category-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:15px;

}

.category{

background:#fff;

border-radius:18px;

padding:15px;

text-align:center;

box-shadow:0 5px 18px rgba(0,0,0,.08);

transition:.3s;

}

.category:hover{

transform:translateY(-4px);

}

.category img{

width:60px;

height:60px;

margin:auto;

}

.category p{

margin-top:10px;

font-size:14px;

font-weight:600;

}    padding:
